* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.startseite {
  padding: 5% 5%;
  text-align: center;

  Link {
    font-size: 2rem;
  }

  p {
    margin: 5% 0 10% 0;
    line-height: 20px;
  }

  .allBeers {
    background: yellow;
    margin: 0 2%;
    border-radius: 10px;
    padding: 0 0 2% 0;

    img {
      width: 100%;
      border-radius: 10px 10px 0 0;
    }
  }

  .randomBeer {
    background: yellow;
    margin: 0 2%;
    border-radius: 10px;
    padding: 0 0 2% 0;

    img {
      width: 100%;
      border-radius: 10px 10px 0 0;
    }
  }
}

.startLink {
  font-size: 1.7rem;
  text-decoration: none;
}

.BierContainerMain {
  display: flex;
  margin: 0 5%;
  padding: 3% 0;
  border-bottom: 1px solid black;


  .BierBild {


    img {
      width: 100px;
      height: 225px;
    }
  }

  .textContainer {
    height: 150px;
    padding: 0 0 0 5%;

    h1 {
      font-size: 1.5rem;
      margin: 5% 0 0 0;
      padding: 0 0 5% 0%;
    }

    p {
      color: orange;
      font-weight: bolder;
      padding: 3% 0 0 0%;
    }
  }

  .BierDetails {
    display: flex;
    flex-direction: column;
  }


  button {
    width: 120px;
    padding: 14px 40px;
    margin: 0 0 0 75px;
    color: white;
    background: orange;
    border: none;
    border-radius: 8px;
  }
}

.bierZufall {
  height: 100vh;

  p,
  h3 {
    padding: 0 10% 0 10%;
  }

  .zufallBild {
    text-align: center;
    padding: 6% 0 6% 0;

    img {
      height: 300px;
    }
  }

  .zufallMarke {
    h1 {
      padding: 0 0 3% 10%
    }

    p {
      padding: 0 0 5% 10%;
    }
  }

  .zufallDetail {
    .detailOben {
      display: flex;
      justify-content: space-between;
      padding: 0 0 1% 0;
    }

    .detailUnten {
      display: flex;
      justify-content: space-between;
      padding: 0 0% 7% 0;
    }
  }
}

.backButton {
  display: block;
  padding: 5% 0 75px 9%;
}

i {
  color: gold;
}

.bottom {
  position: fixed;
  display: block;
  height: 60px;
  width: 100vw;
  background: yellow;
  text-align: center;
  bottom: 0;
}

.mainContainer {
  padding-bottom: 55px;
}